    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* overflow-y: hidden; */
        overflow-x: hidden;
        background: #00030a;
    }
    *{
        list-style-type: none;
        text-decoration: none;
        font-family: monospace;
        font-weight: 500;
        scroll-behavior: smooth;
    }
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-track{
        background-color: #00030a;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #2fa4e7;
        border-radius: 500px;
    }
    ::root{
        --primary-color: #2fa4e7;
        --dark-blue: #0030a;
    }

    header{
        width: 100%;
        height: 50px;
        background-color: #2fa4e7;
        position: sticky;
        z-index: 9999;
        top: 0;
        display: inline-flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    header .title p{
        font-family: monospace;
        font-size: 22px;
        margin: 8% 2%;
        width: max-content;
    }
    header nav{
        margin-left: 77%;
        display: inline-flex;
    }
    header nav ul {
        display: inline-flex;
    }

    header nav ul li a{
        color: black;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 15px;
    }
    main{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        box-sizing: border-box;
        padding-top: 50px;
    }
    .form-container{
        width: 50vw;
        height: 80px;
        background-color: #2fa4e7;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
    .form-container form{
        display: inline-flex;

    }
    .form-container form input{
        width: 40vw;
        border: 2px solid #ffffff;
        background-color: #ffffff;
        border-radius: 50px;
        height: 40px;
        color: rgb(0, 0, 0);
        box-sizing: border-box;
        padding: 2px 10px;
    }
    .form-container button{
        background-color: white;
        border: 1px solid #ffffff;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-left: 5px;
        cursor: pointer;
    }
    .form-container form i{
        color: #00030a;
        font-size: 19px;
    }

    .users-container{
        height: 100vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        /* justify-content: center; */
        justify-items: center;   
    }
    .users-container .bar p{
        color: #2fa4e7;
        font-size: 17px;
    }
    .card{
        width: 50vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        align-content: center;
        justify-content: center;
        justify-items: center; 
        height: 80px;
        border: 1px solid #2fa4e7;
        border-radius: 4px;
        margin-bottom: 2%;
        box-sizing: border-box;
        padding: 5px 5px;
    }
    .card p {
        color: #2fa4e7;
        text-transform: capitalize;
    }
    .card a{
        color: #0086d3;
        width: 90px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center; 
    }
    ::placeholder{
        color: #2fa4e7;
    }