body{
    margin: 0;
    padding: 0;
    background-color: rgb(1, 3, 24);
    overflow: hidden;
}
*{
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(22, 200, 231);
    position: sticky;
    top: 0;
    display: inline-flex;
}
header .title p{
    font-family: monospace;
    font-size: 22px;
    margin: 8% 2%;
    width: max-content;
}
header nav{
    margin-left: 60%;
    display: inline-flex;
}
header nav ul {
    display: inline-flex;
}

header nav ul li a{
    color: black;
    border-radius: 3px;
    padding: 5px 10px;
}
main{
    display: inline-flex;
}
.sidebar{
    width: 20vw;
    background-color: rgb(0, 0, 0);
    height: 93vh;
}